#manifest-url {
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px;
  text-decoration: underline;
  cursor: pointer;
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

body * {
  white-space: pre-line;
}

/** https://www.w3schools.com/howto/howto_css_loader.asp **/
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 45%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}